.container {
    /* width: 100px; */
}

.content {
    padding-left: 24px;
}

.font-size-24 {
    font-size: 24px;
}

.font-weight-bold {
    font-weight: bold;
}

#font-bold {
    font-size: 36px;
}

.font-style {
    font-style: italic;
}

div > p {

}

div .item {
    margin: 12px;
    float: left;
    flex-wrap: wrap;
}

div > .item {
    margin: 12px;
    
}

.item {
    width: 360px;
    border: 0.5px solid;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

.item div {
    padding-left: 12px;
}

.item a {
    font-size: 16px;
    color: blue;
}

.item p {
    font-size: 12px;
    opacity: 0.5;
}

.item img {
    width: 120px;
}

.item:hover {
    margin-top: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.item:hover a {
    color: aqua;
}

.item:hover p {
    opacity: 1;
}

.item:hover img {
    box-shadow: 5px 10px #fff;
}