.container {
    /* width: 100px; */
}

.content {
    padding-left: 24px;
}

.font-size-24 {
    font-size: 24px;
}

.font-weight-bold {
    font-weight: bold;
}

#font-bold {
    font-size: 36px;
}

.font-style {
    font-style: italic;
}